
<h2 class="mb-4">Add New Note</h2>
<form method="POST" action="/notes" class="card p-3 shadow-sm">
  <div class="mb-3">
    <label>Title</label>
    <input type="text" name="title" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Description</label>
    <textarea name="description" class="form-control"></textarea>
  </div>

  <div class="mb-3">
    <label>Category</label>
    <select name="category" class="form-select">
      <option value="General">General</option>
      <option value="Work">Work</option>
      <option value="Personal">Personal</option>
    </select>
  </div>
  
  <div class="mb-3">
    <label>Due Date</label>
    <input type="date" name="dueDate" class="form-control">
  </div>
  
  <div class="mb-3">
    <label>Priority</label>
    <select name="priority" class="form-select">
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success w-100">Save Note</button>
</form>
